* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    height: 100vh;

}

.header-info {
    position: absolute;
    text-align: right;
    top: 35%;
    right: 0;
    margin: 0px 200px;

}

.header-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;

}

.header-desc {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 20px 0px 20px 20px;

}

.btn-primary {
    color: #FFFFFF;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}

/* Previous Year */

.previous-year-content {
    display: flex;
    /* margin: 20px 200px 200px 200px; */
    padding-top: 100px;
    /* margin-left: 200px; */
    align-items: center;
    padding-left: 15%;

    background-color:azure;
    width: 100%;
    height: 100vh;
}

.previous-year-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    align-items: center;
    margin: 0px 35px;
}

.previous-year-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 35px;
}

li {
    list-style: none;
}

li::before {
    content: "✔";
    color: green;
    margin-right: 10px;
}

.previous-year-summary {
    text-align: justify;
    padding-top: 7%;
}


/* Plans Section */
.plans-content {
    padding: 10%;
}

.plans-title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 3%;
}

.plans-category {
    display: flex;
    padding-left: 12%;
}

.plans-category-1 {
    text-align: center;
}

.plans-category-2 {
    text-align: center;
    margin: 0px 140px;
}

.plans-category-3 {
    text-align: center;
    margin-right: 140px;
}

.plans-category-4 {
    text-align: center;
}

.plans-category-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 7% 0%;

}

.plans-category-desc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #444343;
}

.plans-category-img {
    width: 92.96px;
    height: 92.96px;
}

.gradient {
    background-image:  url('/images/gradient2.png'), url('/images/watch.png');
   
    /* background-size: 1200px 300px; */
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: 200px;
    text-align: left;
  }

  .banner-desc{
    padding: 10%;
  }
  