* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header section */
.header {
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    height: 100vh;

}

.header-info {
    position: absolute;
    text-align: right;
    top: 35%;
    right: 0;
    margin: 0px 200px;

}

.header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;

}

.header-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 20px 0px 20px 20px;

}

.btn-primary {
    color: #FFFFFF;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}

/* Previous Year */

.previous-year-content {
    display: flex;
    padding-top: 100px;
    align-items: center;
    padding-left: 15%;
    background-color: azure;
    width: 100%;
    height: 100vh;
}

.previous-year-title {

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    align-items: center;
    margin: 0px 35px;
}

.previous-year-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 35px;
}

li {
    list-style: none;
}

li::before {
    content: "✔";
    color: green;
    margin-right: 10px;
}

.previous-year-summary {
    text-align: justify;
    padding-top: 7%;
}


/* Plans Section */

.plans-content {
    padding: 10%;
}

.plans-title {
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 3%;
}

.plans-category {
    display: flex;
    padding-left: 12%;
}

.plans-category-1 {
    text-align: center;
}

.plans-category-2 {
    text-align: center;
    margin: 0px 140px;
}

.plans-category-3 {
    text-align: center;
    margin-right: 140px;
}

.plans-category-4 {
    text-align: center;
}

.plans-category-title {

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 7% 0%;

}

.plans-category-desc {
 
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #444343;
}

.plans-category-img {
    width: 92.96px;
    height: 92.96px;
}


/* gradient banner section */

.gradient {
    background-image: url('/images/gradient2.png'), url('/images/watch.png');

    background-repeat: no-repeat;
    height: 60vh;
    margin-left: 200px;
    text-align: left;
}

.banner-desc {
    padding: 5%;
}

.banner-title {
    padding-bottom: 1%;
   
    font-weight: 700;
    font-size: 40px;
}


.banner-btn-primary {
    color: #F15B22;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
}


/* footer section */

.footer {
    background: #151414;

    display: flex;
    gap: 200px;
    padding: 200px 300px;
    width: 100%;
    height: 50%;
    text-align: left;

}

/* Left Side footer */

.footer-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}

.footer-desc {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding: 16px 0px;
}

.footer-email {
    color: #F8F8F8;
    padding: 0px 0px 16px;
}

.footer-number {
    color: #F8F8F8;
    padding: 0px 0px 16px;
}

.icons {
    display: flex;
    gap: 24px;
}


/* Right Side footer */

.footer-subscribe {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 5%;

}

.footer-input[type="text"],
[type="email"],
textarea {
    background-color: #151414;
    border-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 24px;
    border: 1;
    width: 100%;
    padding: 18px 30px;
}